<form action="/" method="POST">
  <h1>Expense Tracker App</h1>

  <h2>Add expense</h2>

  <label>Description</label>
  <input type="text" class="description" name="textDescribe" />
  <label>Amount</label>
  <input type="text" class="amount" name="textAmount" />

  <h3>Category</h3>


   <div><select name="" >
    <label for="" name="role"></label>
    <option value="daily" name="daily" >Daily</option>
      <option value="weekly" name="select">Weekly</option>
      <option value="weekday" name="select" >Weekday</option>
      <option value="onceOff" name="select">Once off</option>
      <option value="monthly" name="select">Monthly</option>
      <option value="weekend" name="select">Weekend</option>
    </select></div>

    <button type="submit">Add</button>
  <p>Total expenses:{{totalExpense}}</p>

  <h3>Expense summary per Category</h3>
  {{}}
</form>